<nav class="navbar navbar-dark navbar-expand bg-primary sticky-top px-5">
  <a class="navbar-brand" href="#">ToDo</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link my-2 my-sm-0" routerLink="/login" *ngIf="!isAuthenticated">Login</a>
          <button class="btn btn-default" (click)="logout()" *ngIf="isAuthenticated">Logout</button>
        </li>
      </ul>
    </form>
  </div>

</nav>

<app-toast style="position: absolute; top: 100px; right: 20px; z-index: 10;"></app-toast>

<div class="container-fluid px-5 py-3">
  <router-outlet></router-outlet>
</div>

<footer class="navbar navbar-dark bg-dark fixed-bottom">
  <span class="navbar-text m-auto">&copy; 2020 - Christian Nussbaum &amp; Luca Berger</span>
</footer>


