<h1>Edit To Do</h1>

<form [formGroup]="editTodoForm" (ngSubmit)="editTodo()">

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" formControlName="title" class="form-control" id="title" [ngClass]="{ 'is-invalid': onceSubmitted && editTodoForm.controls.title.errors }">
    <div *ngIf="editTodoForm.controls.title.errors" class="invalid-feedback">
      <div *ngIf="editTodoForm.controls.title.errors.required">Title is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="category">Category</label>
    <input type="text" formControlName="category" class="form-control" id="category" [ngClass]="{ 'is-invalid': onceSubmitted && editTodoForm.controls.category.errors }">
    <div *ngIf="editTodoForm.controls.category.errors" class="invalid-feedback">
      <div *ngIf="editTodoForm.controls.category.errors.required">Category is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="dueDate">Due date</label>
    <input type="date" formControlName="dueDate" min="{{ this.getDate() }}" class="form-control" id="dueDate" [ngClass]="{ 'is-invalid': onceSubmitted && editTodoForm.controls.dueDate.errors }">
    <div *ngIf="editTodoForm.controls.dueDate.errors" class="invalid-feedback">
      <div *ngIf="editTodoForm.controls.dueDate.errors.required">Due Date is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="important">Important</label>
    <input type="checkbox" formControlName="important" class="form-control" id="important" [ngClass]="{ 'is-invalid': onceSubmitted && editTodoForm.controls.important.errors }">
    <div *ngIf="editTodoForm.controls.important.errors" class="invalid-feedback">
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary"
            [disabled]="isLoading">
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
      Edit Todo
    </button>

    <a [routerLink]="'/todos'" class="btn btn-link">Back</a>

  </div>
  
  </form>
